/* Start CSS */

body {
  display:block;
  background-color: rgb(5, 149, 5);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  /* margin: 0;
  padding: 0; */
  width: 100vw;
}

nav {
  width: 100vw;
  height: 4rem;
  background-color: rgb(0, 74, 0);
  color: white;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  box-shadow: 0px 3px 8px black;
}

.nav_links > .nav_button > a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin-right: 0.7rem;

}

.nav_buttons {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin-right: 0.7rem;
}

a:link, a:visited {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin-right: 0.7rem;
}

a:hover {
  /* background-color: rgb(0, 44, 0); */
  text-decoration: underline;
}

.content_box {
  /* display:flex;
  flex-direction: column; */
  min-height: 100vh;
  width: 80vw;
  margin: auto;
  background-color:blanchedalmond;
  z-index: 0;
  /* box-shadow: 4px 0px 12px black; */
}

.quote {
  font-size: 36px;
  font-style: italic;
  padding: 7rem 2rem; 
}

footer {
  width: 100vw;
  background-color: black;
  color: white;
  height: 2em;
  position: relative;
  left: 0;
  bottom: 0;
  height: 4rem;
  text-align: center;
}

.footer_text {
  padding-top: 2rem;
  font-size: 12px;
}

h1 {
  font-size: 48px;
  font-weight: 600;
}

h2 {
  font-size: 36px;
  font-weight: 400;
}

.page_title {
  border-bottom: 2px solid black;
  width:fit-content;
  /* padding: 1.5rem 0 0 1rem; */
  position: absolute;
  left: 13%;
  top: 10%;
  margin-bottom: 10rem;
}

.nav_links {
  margin-right: 2rem;
  margin-top: 1rem;
}

.about_section {
  margin-bottom: 5rem;
  padding-left: 2rem;
  margin-top: 1rem;
  min-height: fit-content; 
}

#about_start {
  padding: 7rem 0 1.5rem 2rem; 
}

p {
  font-size: 22px;
  margin-top: 10px;
}

.about_pic {
  float:inline-start;
  height: 200px;
  width: 200px;
  padding: 5px;
  background-color: white;
  margin: 0 0.5rem 0.5rem 0;
}

.about_text, .about_pic {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* #hiking_pic {
  margin-bottom: 5rem;
} */